main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
}

body {
      font-family: "Mabry Pro Bold", "Mier B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 }

@media (min-width: 640px) {
    main {
        max-width: none;
    }
}

.shufflerHeader {
    display: flex;
    align-items: center;
    justify-content: center
}

.spotifyLogo {
    height: 4em;
    padding-right: 0.5em;
}

.marginAuto {
    margin: auto;
}

.shuffleButtonStyle {
    width: 5em;
    font-size: 2em;
    /* background-color:#2196f391; */
    border-radius: 6px;
}