main {
    text-align: center;
    padding: 1em;
    /* max-width: 200px;  */
    margin: 0 auto;
}

body {
      font-family: "Mabry Pro Bold", "Mier B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 }

/* @media (min-width: 700px) {
    main {
        max-width: none;
    }
} */

.shufflerHeader {
    display: flex;
    align-items: center;
    justify-content: center
}

.spotifyLogo {
    height: 4em;
    padding-right: 0.5em;
}

.marginAuto {
    margin: auto;
}

.shuffleButtonStyle {
    width: 5em;
    font-size: 2em;
    /* background-color:#2196f391; */
    border-radius: 6px;
}

.helpText {
    color: grey;
}

.albumImage {
    max-width: 500px;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }